[pull]
	rebase = false
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[pager]
	branch = false
[user]
	email = bjubelirer@dzynetech.com
	name = Brian Jubelirer
[submodule]
	recurse = true
[credential]
	helper = store
[rebase]
	autosquash = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
