# https://blog.gitbutler.com/how-git-core-devs-configure-git/
[column]
    ui = auto
[branch]
    sort = -committerdate
[tag]
	sort = version:refname
[init]
    defaultBranch = master
[pull]
	rebase = false
[diff]
    algorithm = histogram
	colorMoved = zebra
    #colorMoved = plain
    mnemonicPrefix = true
    renames = true
[push]
    default = simple
    autoSetupRemote = true
    followTags = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[pager]
	branch = false
[user]
	email = bjubelirer@dzynetech.com
	name = Brian Jubelirer
[submodule]
	recurse = true
[credential]
	helper = store
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
